# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# OS files
.DS_Store

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log
logs

# dotenv
.env

# data files
data/
results/